@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

* {
    background-color: black;
    color: white;
    font-family: "Bitcount Grid Single", system-ui;
}
.title {
    text-align: center;
    margin-top: 50px;
}
.title h1 {
    font-family: sans-serif;
  display: inline-block;     
  font-weight: normal;
  overflow: hidden;          
  white-space: nowrap;       
  width: 15ch;               
  animation:
    typing 3s steps(12, end) infinite; 
}

@keyframes typing {
  0%   { width: 0ch; }
  50%  { width: 12ch; }
  60%  { width: 12ch; }
}


.text {
    border: 1px solid rgb(7, 48, 39);
    border-radius: 20px;
    padding: 5px;
    margin: 30px;
    margin-top: 100px;
}
.text p {
    font-size: 18px;

}