* {
font-family: helvetica;
}
body {
    background-image: url('3257640.jpg');
 /* background: linear-gradient(to right, #791b91, #000000); */
}
.imgFace {
  width: 250px;
  width: 252px;
  margin-top: 2px;
  margin-left: 1100px;
  border-radius: 125px;
  border-color: #fff; 
  box-shadow: 0 0 5px #fff, 0 0 10px #ffffff, 0 0 15px #f8f8f8; 
}
.inicio {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;

}
.nav {
  margin: 25px 25px;
  padding-left: 10px;
  padding-top: 10px;
  color: antiquewhite;

}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
a:hover {
  text-decoration: underline; 
}
h1 {
  position: relative;
  top: -150px;
  left: 50px; 
  color: antiquewhite;
}
h3 {
  position: relative;
  top: -150px;
  left: 50px; 
  color: antiquewhite;
}
p {
  position: relative;
  top: -150px;
  left: 50px; 
  color: antiquewhite;
}
.buttonCv {
  border-radius: 10px;
  border-color: white;
  margin: 0 0 0 100px;
  position: relative;
  top: -145px;
  left: -53px;
  }
.buttonCv:hover {
  background-color: gray;
   border-color: gray; 
  box-shadow: 0 0 5px gray, 0 0 10px gray, 0 0 15px gray; 
}
.socialIcon {
  color: black;
  position: relative;
  top: -170px;
  left: 300px;
  display: flex;        
  gap: 20px;            
  }
.fa-brands:hover {
  border: solid;
  border-radius: 50px;
  font-size: 30px
}
.links {
    gap: 20px;  
    color: blue; 
}
