* {
  background-color: black;
  color: rgb(173, 173, 173);
  font-family: sans-serif;
}
.contato {
  max-width: 500px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 30px;
}
.entreContato {
  margin: 20px;
  padding: 0;
  margin-left: -77px;
  text-align: center;
}
.contato input, 
.contato textarea {
  width: 90%;
  padding: 5%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid rgb(255, 255, 255); 
}
.contato input:hover {
  border: solid rgb(177, 37, 219);
}
.contato textarea:hover {
  border: solid rgb(177, 37, 219);
}

.contato button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(65, 73, 73);
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
.contato button:hover {
  background-color: rgb(141, 138, 134);
}
#contact-form {
  text-align: center;
  padding: 0;
  position: block;
  margin-top: 60px;
}
h1 {
  text-align: center;
  font-size: 70px;
  white-space: nowrap;
}
p {
  margin-left: 100px;
  position: relative;
  right: 550px;
  top: 200px;
  color: white;
  font-size: 20px;
}
i {
  color: rgb(255, 255, 255);
  font-size: 70px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-align: center;
}
.socialIcon {
  display: none;
}
@media (max-width: 768px) {
*{
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 30px;
  white-space: nowrap;
}
.contato input {
  width: 270px;
}
.contato textarea {
  width: 270px;
}
.entreContato {
  margin: 10;
  margin-left: 25px;
  text-align: center;
}
button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(65, 73, 73);
  cursor: pointer;
  font-weight: bold;
  margin: 50px;
  text-align: center;
}
}
@media (max-width: 480px) {
*{
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 30px;
  white-space: nowrap;
}
.contato input {
  width: 270px;
}
.contato textarea {
  width: 270px;
}
.entreContato {
  margin: 10;
  margin-left: 25px;
  text-align: center;
}
}